In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Train.csv')

In [5]:
df

,Image_ID,class,confidence,ymin,xmin,ymax,xmax,class_id,ImagePath
0,ID_nBgcAR.jpg,healthy,1.0,75.0,15.0,162.0,195.0,2,dataset/images/train/ID_nBgcAR.jpg
1,ID_nBgcAR.jpg,healthy,1.0,58.0,1.0,133.0,171.0,2,dataset/images/train/ID_nBgcAR.jpg
2,ID_nBgcAR.jpg,healthy,1.0,42.0,29.0,377.0,349.0,2,dataset/images/train/ID_nBgcAR.jpg
3,ID_Kw2v8A.jpg,healthy,1.0,112.0,124.0,404.0,341.0,2,dataset/images/train/ID_Kw2v8A.jpg
4,ID_Kw2v8A.jpg,healthy,1.0,148.0,259.0,413.0,412.0,2,dataset/images/train/ID_Kw2v8A.jpg
...,...,...,...,...,...,...,...,...,...
9787,ID_WULBQy.jpeg,anthracnose,1.0,136.0,1440.0,1593.0,4000.0,0,dataset/images/train/ID_WULBQy.jpeg
9788,ID_WULBQy.jpeg,anthracnose,1.0,89.0,0.0,1174.0,1139.0,0,dataset/images/train/ID_WULBQy.jpeg
9789,ID_SVzl5X.jpeg,anthracnose,1.0,18.0,360.0,1800.0,2330.0,0,dataset/images/train/ID_SVzl5X.jpeg
9790,ID_xDTIEp.jpeg,anthracnose,1.0,736.0,174.0,2691.0,4032.0,0,dataset/images/train/ID_xDTIEp.jpeg
9791,ID_VyjCJQ.jpeg,anthracnose,1.0,57.0,1248.0,2735.0,2323.0,0,dataset/images/train/ID_VyjCJQ.jpeg

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9792 entries, 0 to 9791
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Image_ID    9792 non-null   object
 1   class       9792 non-null   object
 2   confidence  9792 non-null   float64
 3   ymin        9792 non-null   float64
 4   xmin        9792 non-null   float64
 5   ymax        9792 non-null   float64
 6   xmax        9792 non-null   float64
 7   class_id    9792 non-null   int64
 8   ImagePath   9792 non-null   object
dtypes: float64(5), int64(1), object(3)
memory usage: 688.6+ KB

In [12]:
# Unique image
df['Image_ID'].nunique()

5529

In [16]:
# Group by Image_ID and keep the first occurrence
unique_images_df = df.drop_duplicates(subset=['Image_ID'])

# Check the shape to confirm we have 5529 unique images
print(f"Original dataframe shape: {df.shape}")
print(f"Unique images dataframe shape: {unique_images_df.shape}")

Original dataframe shape: (9792, 9)
Unique images dataframe shape: (5529, 9)

In [22]:
# Group by Image_ID and aggregate relevant information
grouped_df = df.groupby('Image_ID').agg({
        'class': list,  # Take first class
        'ImagePath': lambda x: x.iloc[0],  # Take first path
        'confidence': 'mean',  # Average confidence
        'class_id': list,  # Take first class_id
        'ymin': list,  # List of all ymin values
        'xmin': list,  # List of all xmin values
        'ymax': list,  # List of all ymax values
        'xmax': list,  # List of all xmax values
}).reset_index()

In [23]:
grouped_df

,Image_ID,class,ImagePath,confidence,class_id,ymin,xmin,ymax,xmax
0,ID_A0o1FA.jpeg,[cssvd],dataset/images/train/ID_A0o1FA.jpeg,1.0,[1],[1532.0],[0.0],[3975.0],[2029.0]
1,ID_A1OsZt.jpeg,[healthy],dataset/images/train/ID_A1OsZt.jpeg,1.0,[2],[488.0],[0.0],[2823.0],[3998.0]
2,ID_A397lM.jpg,[cssvd],dataset/images/train/ID_A397lM.jpg,1.0,[1],[37.0],[0.0],[1280.0],[801.0]
3,ID_A3ZjTJ.jpeg,[cssvd],dataset/images/train/ID_A3ZjTJ.jpeg,1.0,[1],[30.0],[0.0],[3024.0],[3936.0]
4,ID_A4KXll.jpg,[healthy],dataset/images/train/ID_A4KXll.jpg,1.0,[2],[41.0],[0.0],[1280.0],[899.0]
...,...,...,...,...,...,...,...,...,...
5524,ID_zvYoSs.jpeg,"[cssvd, cssvd]",dataset/images/train/ID_zvYoSs.jpeg,1.0,"[1, 1]","[603.0, 0.0]","[564.0, 1244.0]","[3582.0, 2069.0]","[1972.0, 2422.0]"
5525,ID_zvZJag.jpeg,"[healthy, healthy, healthy, healthy, healthy]",dataset/images/train/ID_zvZJag.jpeg,1.0,"[2, 2, 2, 2, 2]","[0.0, 2142.0, 833.0, 651.0, 67.0]","[1324.0, 2172.0, 3210.0, 2734.0, 3571.0]","[2857.0, 3024.0, 1837.0, 1953.0, 1306.0]","[2857.0, 3318.0, 4032.0, 3574.0, 4032.0]"
5526,ID_zwVswG.jpg,[healthy],dataset/images/train/ID_zwVswG.jpg,1.0,[2],[474.0],[117.0],[1998.0],[1857.0]
5527,ID_zwyEXN.jpg,[cssvd],dataset/images/train/ID_zwyEXN.jpg,1.0,[1],[346.0],[125.0],[1080.0],[733.0]
5528,ID_zxqqnj.jpg,[healthy],dataset/images/train/ID_zxqqnj.jpg,1.0,[2],[1.0],[60.0],[413.0],[388.0]

In [34]:
# Create explicit copies before modifying
healthy_images = grouped_df[grouped_df['class'].apply(lambda x: all(c == 'healthy' for c in x))].copy()
other_classes_images = grouped_df[grouped_df['class'].apply(lambda x: any(c != 'healthy' for c in x))].copy()

# Now add the labels
healthy_images['labels'] = "Normal"
other_classes_images['labels'] = "Disease"

In [35]:
healthy_images

,Image_ID,class,ImagePath,confidence,class_id,ymin,xmin,ymax,xmax,labels
1,ID_A1OsZt.jpeg,[healthy],dataset/images/train/ID_A1OsZt.jpeg,1.0,[2],[488.0],[0.0],[2823.0],[3998.0],Normal
4,ID_A4KXll.jpg,[healthy],dataset/images/train/ID_A4KXll.jpg,1.0,[2],[41.0],[0.0],[1280.0],[899.0],Normal
6,ID_A5WiVe.jpg,"[healthy, healthy, healthy, healthy]",dataset/images/train/ID_A5WiVe.jpg,1.0,"[2, 2, 2, 2]","[108.0, 76.0, 12.0, 0.0]","[1617.0, 1148.0, 501.0, 0.0]","[2991.0, 2830.0, 2706.0, 2553.0]","[2328.0, 1902.0, 1445.0, 646.0]",Normal
8,ID_A8K8dv.jpg,"[healthy, healthy]",dataset/images/train/ID_A8K8dv.jpg,1.0,"[2, 2]","[93.0, 1.0]","[223.0, 185.0]","[347.0, 81.0]","[407.0, 294.0]",Normal
12,ID_AAJ1hf.jpg,"[healthy, healthy]",dataset/images/train/ID_AAJ1hf.jpg,1.0,"[2, 2]","[292.0, 684.0]","[45.0, 0.0]","[659.0, 960.0]","[923.0, 398.0]",Normal
...,...,...,...,...,...,...,...,...,...,...
5519,ID_zsFuBb.jpg,"[healthy, healthy]",dataset/images/train/ID_zsFuBb.jpg,1.0,"[2, 2]","[284.0, 797.0]","[271.0, 0.0]","[651.0, 1067.0]","[550.0, 183.0]",Normal
5521,ID_zuWofg.jpg,[healthy],dataset/images/train/ID_zuWofg.jpg,1.0,[2],[1068.0],[947.0],[3264.0],[2328.0],Normal
5525,ID_zvZJag.jpeg,"[healthy, healthy, healthy, healthy, healthy]",dataset/images/train/ID_zvZJag.jpeg,1.0,"[2, 2, 2, 2, 2]","[0.0, 2142.0, 833.0, 651.0, 67.0]","[1324.0, 2172.0, 3210.0, 2734.0, 3571.0]","[2857.0, 3024.0, 1837.0, 1953.0, 1306.0]","[2857.0, 3318.0, 4032.0, 3574.0, 4032.0]",Normal
5526,ID_zwVswG.jpg,[healthy],dataset/images/train/ID_zwVswG.jpg,1.0,[2],[474.0],[117.0],[1998.0],[1857.0],Normal
5528,ID_zxqqnj.jpg,[healthy],dataset/images/train/ID_zxqqnj.jpg,1.0,[2],[1.0],[60.0],[413.0],[388.0],Normal

In [36]:
other_classes_images

,Image_ID,class,ImagePath,confidence,class_id,ymin,xmin,ymax,xmax,labels
0,ID_A0o1FA.jpeg,[cssvd],dataset/images/train/ID_A0o1FA.jpeg,1.0,[1],[1532.0],[0.0],[3975.0],[2029.0],Disease
2,ID_A397lM.jpg,[cssvd],dataset/images/train/ID_A397lM.jpg,1.0,[1],[37.0],[0.0],[1280.0],[801.0],Disease
3,ID_A3ZjTJ.jpeg,[cssvd],dataset/images/train/ID_A3ZjTJ.jpeg,1.0,[1],[30.0],[0.0],[3024.0],[3936.0],Disease
5,ID_A5PBJ2.jpeg,[anthracnose],dataset/images/train/ID_A5PBJ2.jpeg,1.0,[0],[295.0],[289.0],[964.0],[791.0],Disease
7,ID_A6p4R9.jpg,[cssvd],dataset/images/train/ID_A6p4R9.jpg,1.0,[1],[197.0],[403.0],[2382.0],[1828.0],Disease
...,...,...,...,...,...,...,...,...,...,...
5520,ID_ztv7UL.jpg,[cssvd],dataset/images/train/ID_ztv7UL.jpg,1.0,[1],[536.0],[202.0],[1850.0],[1161.0],Disease
5522,ID_zv42bY.jpg,[anthracnose],dataset/images/train/ID_zv42bY.jpg,1.0,[0],[522.0],[448.0],[2041.0],[1536.0],Disease
5523,ID_zvSUD9.jpeg,[anthracnose],dataset/images/train/ID_zvSUD9.jpeg,1.0,[0],[117.0],[691.0],[3965.0],[2727.0],Disease
5524,ID_zvYoSs.jpeg,"[cssvd, cssvd]",dataset/images/train/ID_zvYoSs.jpeg,1.0,"[1, 1]","[603.0, 0.0]","[564.0, 1244.0]","[3582.0, 2069.0]","[1972.0, 2422.0]",Disease
5527,ID_zwyEXN.jpg,[cssvd],dataset/images/train/ID_zwyEXN.jpg,1.0,[1],[346.0],[125.0],[1080.0],[733.0],Disease

In [37]:

# New dataframe with labels, image paths, and image id
final_df = pd.concat([healthy_images[['Image_ID', 'ImagePath', 'labels']],
                       other_classes_images[['Image_ID', 'ImagePath', 'labels']]], ignore_index=True)

In [38]:
final_df

            Image_ID                            ImagePath   labels
0     ID_A1OsZt.jpeg  dataset/images/train/ID_A1OsZt.jpeg   Normal
1      ID_A4KXll.jpg   dataset/images/train/ID_A4KXll.jpg   Normal
2      ID_A5WiVe.jpg   dataset/images/train/ID_A5WiVe.jpg   Normal
3      ID_A8K8dv.jpg   dataset/images/train/ID_A8K8dv.jpg   Normal
4      ID_AAJ1hf.jpg   dataset/images/train/ID_AAJ1hf.jpg   Normal
...              ...                                  ...      ...
5524   ID_ztv7UL.jpg   dataset/images/train/ID_ztv7UL.jpg  Disease
5525   ID_zv42bY.jpg   dataset/images/train/ID_zv42bY.jpg  Disease
5526  ID_zvSUD9.jpeg  dataset/images/train/ID_zvSUD9.jpeg  Disease
5527  ID_zvYoSs.jpeg  dataset/images/train/ID_zvYoSs.jpeg  Disease
5528   ID_zwyEXN.jpg   dataset/images/train/ID_zwyEXN.jpg  Disease

[5529 rows x 3 columns]

In [39]:
final_df.groupby('labels').size()

labels
Disease    3809
Normal     1720
dtype: int64

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("muhammadqasimshabbir/amini-cocoa-contamination-challenge-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/muhammadqasimshabbir/amini-cocoa-contamination-challenge-dataset?dataset_version_number=1...

  0%|          | 0.00/9.44G [00:00<?, ?B/s]